* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*garanteque o preenchimento/padding seja incluindo no calculo da largura,evitando que o conteúdo ultrapasse a tela*/
    text-decoration: none;
}

html {
    width: 100%;
    height: 100vh;
}

header {
    padding: min(5vh, 4rem);
    background-color: #095169;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /*aqui começamos o posicionamento do header*/
    position: sticky;
    /*posicionamento do header usando o stick, sendo um posicionameto fixo, porem distinto do fixed*/
    top: 0;
    /*espaçamento superior zerado fazendo com que o header fique grudado ao top*/
    left: 0;
    /*espaçamento a esquerda zerado, fazendo com que o header fique grudado à esquerda*/
    z-index: 999;
    /*eixo de profundidade (eixo cartesino)*/
    box-shadow: 0 0.21rem 0.5rem white;
    /*Primeiro valor sobre na direita(0) segundo valor sobra bottom (0.21rem) terceiro valor gratiant da sobra (0.5rem)*/
}

header i {
    color: white;
    font-size: 6em;
}

header button {
    width: 13rem;
    height: 1.5rem;
    background-color: #5a5f61;
    border-radius: 10px;
    padding: 1.3rem;
    color: white;


    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #baab6a;
    width: 100%;
    padding: min(20vh, 6rem);
}


.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #baab6a;
    width: 100%;
    padding: min(20vh, 6rem);
}

.div-1 p {
    font-size: 2em;
    margin: 1.2em;
}

.div-2 img {
    width: 30rem;
    margin: 5rem auto;
    border-radius: 10px;
    display: block;
    /*garantindo que a img se comporte como um bloco*/
}

footer {
    background-color: bisque;
    width: 100%;
    padding: min(10vh, 4rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer i{
    color: white;
    font-size: 4em;
}

@media(max-width:830px) {

    header i {
        font-size: 5.5rem;
        z-index: 999;
    }

    header button {
        width: 10rem;
        height: 0.8rem;
    }

    .section-1 {
        padding: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-2 {
        padding: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .div-1 p {
        width: 100%;
        line-height: 1.5;
        text-align: left;
        margin: 1em;
        padding: 2.3rem;
    }

    .div-2 img {
        width: 20rem;
        margin: 0 2rem;
    }
}